 .select-box__item {
   background: green;
   transform: scaleY(0);
   transform-origin: (top);
   transition: 250ms ease-in;
   position: absolute;
   z-index: 1;
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .select-box__item.toggle {
   transform: scaleY(1);
 }